body{

font-family:Arial;

background:#f4f6f9;

margin:0;

}

header{

background:#16a34a;

color:white;

padding:20px;

font-size:30px;

font-weight:bold;

}

.contenedor{

width:95%;

max-width:900px;

margin:auto;

margin-top:30px;

}

.card{

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.15);

}

label{

display:block;

margin-top:18px;

font-weight:bold;

}

input,select,textarea{

width:100%;

padding:12px;

font-size:16px;

margin-top:5px;

border-radius:8px;

border:1px solid #ccc;

box-sizing:border-box;

}

button{

margin-top:30px;

width:100%;

padding:18px;

font-size:20px;

background:#16a34a;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}

button:hover{

background:#14803b;

}
