body{

    margin:0;
    font-family:Arial;
    background:#f4f6f9;

}

header{

    background:#16a34a;
    color:white;
    padding:20px;
    font-size:30px;
    font-weight:bold;

}

.contenedor{

    width:95%;
    max-width:1300px;
    margin:auto;
    margin-top:30px;

}

.card{

    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);

}

input{

    width:100%;
    padding:15px;
    font-size:18px;
    border-radius:10px;
    border:1px solid #ccc;
    margin-bottom:20px;
    box-sizing:border-box;

}

table{

    width:100%;
    border-collapse:collapse;

}

th{

    background:#16a34a;
    color:white;
    padding:15px;

}

td{

    padding:14px;
    border-bottom:1px solid #ddd;

}

tr:hover{

    background:#f8fafc;

}

.btn{

    background:#16a34a;
    color:white;
    padding:8px 15px;
    border-radius:8px;
    text-decoration:none;

}
