body{

    margin:0;
    background:#f4f6f9;
    font-family:Arial;

}

header{

    background:#16a34a;
    color:white;
    padding:20px;
    font-size:30px;
    font-weight:bold;

}

.contenedor{

    width:95%;
    max-width:900px;
    margin:auto;
    margin-top:30px;

}

.card{

    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);

}

.item{

    margin-top:18px;
    font-size:18px;

}

.titulo{

    color:#16a34a;
    font-weight:bold;

}

.boton{

    margin-top:35px;
    width:100%;
    padding:18px;
    border:none;
    border-radius:12px;
    background:#16a34a;
    color:white;
    font-size:20px;
    cursor:pointer;

}
