body{

margin:0;
padding:0;
font-family:Arial;
background:#f4f6f9;

}

header{

background:#16a34a;
color:white;
padding:20px;
font-size:30px;
font-weight:bold;

}

.contenedor{

width:95%;
margin:auto;
margin-top:25px;

}

.tarjetas{

display:flex;
gap:20px;
flex-wrap:wrap;

}

.tarjeta{

background:white;
flex:1;
min-width:220px;

padding:25px;

border-radius:10px;

box-shadow:0px 0px 10px rgba(0,0,0,.15);

}

.numero{

font-size:40px;
font-weight:bold;
margin-top:10px;

color:#16a34a;

}

.botones{

margin-top:40px;

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

}

.boton{

background:#16a34a;

color:white;

padding:25px;

text-align:center;

font-size:22px;

border-radius:12px;

cursor:pointer;

transition:.2s;

}

.boton:hover{

background:#12803b;

}
